/*1.先設好足夠數量的板子panel   2.用pseudo element加入文字   3.用迴圈的方式讓每個panel裡的文字往左邊移動格數到第1格   4.接著在各個panel上加上動畫*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-size: 100px;
    /*font-weight: 900;*/
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    perspective: 500px;/*要加在body上增加觀看者與螢幕的距離*/
    perspective-origin: 50% calc(50% - 180px);
    background: rgb(5, 5, 5);
}
.container{
    display: flex;
    transform-style: preserve-3d;
    animation: rotate 24s infinite linear alternate;
}
@keyframes rotate {
  
    100%{transform: rotateY(-360deg);
           
    }
}
$width:51px;
.panel{
    position: absolute;
    transform: translate(-50%,-100%) rotateY(var(--angle)) translateZ(325px);
    width: $width;
    height: 125px;
    overflow: hidden;
    
}
@keyframes rot {
    to{transform: rotateX(5turn);}
}
.panel::before{
    position: absolute;
    left: var(--left);
    content: "Have a nice day!Have some fun!";
    width: max-content;   
    color:hsl(var(--hue), 100%,60%);
    animation: rot 24s linear infinite ;
    animation-delay: var(--delay);
}
@for $i from 0 to 40 {
    .panel:nth-child(#{$i+1}){
        --left:#{$width*$i*-1};
        --hue:#{360/40*$i};
        --angle:#{360deg/40*$i};
        --delay:#{0.1s*($i+1)};
    }
}