*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /*background:radial-gradient(pink,rgb(150, 236, 226),rgb(255, 255, 186));*/
    background: url(./aurora-1197753_1920.jpg);
    background-position:bottom;
    height: 100vh;
    animation: bgmove 40s linear infinite ;
}
@keyframes bgmove {
    to{ background-position: top;}
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;/*超過的就不要顯示了*/
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 55% 45% 61% 39% / 45% 44% 56% 55% ;
    background: rgb(248, 142, 177);
    margin: 0 8px;
    box-shadow: 0 0 5px 5px rgb(242, 130, 167),
                           0 0 5px 6px rgb(240, 112, 155),
                           0 0 5px 7px rgb(236, 97, 144) ;
    animation:float 15s linear infinite ;
    animation-duration: calc(100s/var(--i));
}
.bubbles span:nth-child(even){
    background: rgb(130, 242, 216);
    box-shadow: 0 0 5px 1px rgb(130, 242, 216),
                           0 0 5px 2px rgb(96, 236, 203),
                           0 0 5px 3px rgb(56, 211, 175) ;
}
.bubbles span:nth-child(3n){
    background: rgb(255, 250, 159);
    box-shadow: 0 0 5px 1px rgb(239, 232, 95),
                           0 0 5px 2px rgb(240, 231, 58),
                           0 0 5px 3px rgb(218, 207, 5) ;
}
.bubbles span:nth-child(5n){
    background-image: linear-gradient(45deg,red,orange,yellow,green,blue,rgb(144, 0, 255),purple);
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px 1px rgba(243, 238, 238, 0.995),
    0 0 5px 1px rgba(243, 238, 238, 0.825),
    0 0 5px 1px rgba(243, 238, 238, 0.723);
}
@keyframes float {
    from{border-radius: 72% 28% 61% 39% / 24% 57% 43% 76% ;
        transform: translateY(100vh) scale(0.1) rotate(0deg);}
    to{border-radius: 33% 67% 30% 70% / 54% 57% 43% 46% ;
        transform: translateY(-10vh) scale(1) rotate(360deg);}
}