* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
    /*把原本的游標圖案換掉*/
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none;
    /*這樣還是可以選擇到底下的東西*/
    transform: translate(-50%, -50%);

}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin-right: 10px;

}